LIST OF STUDENTS
<ul class="students">
<% for(var i=18;i<student.length;i++) { %>
<li class="students">
<span><b><%= "Name : "+student[i].Name %></b></span>
<span><u><%= "Branch : "+student[i].Branch %></u></span>
<span><%= "Semester : "+student[i].Semester %></span>
</li>
<% } %>
</ul>
